name: Build and Deploy to EC2

on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2

            - name: Login to Docker Hub
              uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKER_HUB_USERNAME }}
                  password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v4
              with:
                  context: ./FairFree_Back
                  push: true
                  tags: ${{ secrets.DOCKER_HUB_USERNAME }}/fairfree-app:latest
                  cache-from: type=gha
                  cache-to: type=gha,mode=max

            - name: Deploy to EC2
              uses: appleboy/scp-action@v0.1.7
              with:
                  host: ${{ secrets.EC2_HOST }}
                  username: ubuntu
                  key: ${{ secrets.EC2_SSH_KEY }}
                  source: "FairFree_Back/docker-compose.yml"
                  target: "~/fairfree"

            - name: Run compose on EC2
              uses: appleboy/ssh-action@v1.0.0
              with:
                  host: ${{ secrets.EC2_HOST }}
                  username: ubuntu
                  key: ${{ secrets.EC2_SSH_KEY }}
                  script: |
                      cd ~/fairfree
                      docker pull ${{ secrets.DOCKER_HUB_USERNAME }}/fairfree-app:latest
                      docker-compose -f docker-compose.yml up -d
